In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
df= pd.read_csv("classification.csv")
category_col=['Company','Month']
labelEncoder = preprocessing.LabelEncoder()
mapping_dict ={} 
for col in category_col: 
    df[col] = labelEncoder.fit_transform(df[col]) 
  
    le_name_mapping = dict(zip(labelEncoder.classes_, 
                        labelEncoder.transform(labelEncoder.classes_))) 
  
    mapping_dict[col]= le_name_mapping 
print(mapping_dict)

{'Company': {'Amazon': 0, 'Apple': 1, 'Facebook': 2, 'Google': 3, 'Netflix': 4}, 'Month': {'April': 0, 'August': 1, 'December': 2, 'February': 3, 'January': 4, 'July': 5, 'June': 6, 'March': 7, 'May': 8, 'November': 9, 'October': 10, 'September': 11}}

In [3]:
df=df.reindex(columns=['Month','Investment','Period','Company','Profit'])

In [4]:
df

      Month  Investment  Period  Company  Profit
0         6  954.820000       1        3       0
1         6  954.820000       2        3       0
2         6  954.820000       3        3       0
3         6  954.820000       4        3       1
4         6  954.820000       5        3       1
5         6  954.820000       6        3       1
6         6  954.820000       7        3       1
7         6  954.820000       8        3       1
8         6  954.820000       9        3       1
9         6  954.820000      10        3       1
10        6  954.820000      11        3       1
11        6  954.820000      12        3       1
12        5  940.370000       1        3       0
13        5  940.370000       2        3       0
14        5  940.370000       3        3       1
15        5  940.370000       4        3       1
16        5  940.370000       5        3       1
17        5  940.370000       6        3       1
18        5  940.370000       7        3       1
19        5  940.370000       8        3       1
20        5  940.370000       9        3       1
21        5  940.370000      10        3       1
22        5  940.370000      11        3       1
23        5  940.370000      12        3       1
24        1  920.780000       1        3       1
25        1  920.780000       2        3       1
26        1  920.780000       3        3       1
27        1  920.780000       4        3       1
28        1  920.780000       5        3       1
29        1  920.780000       6        3       1
...     ...         ...     ...      ...     ...
1740     11  185.735000       7        2       0
1741     11  185.735000       8        2       1
1742     10  184.383912       1        2       1
1743     10  184.383912       2        2       1
1744     10  184.383912       3        2       1
1745     10  184.383912       4        2       1
1746     10  184.383912       5        2       0
1747     10  184.383912       6        2       0
1748     10  184.383912       7        2       1
1749      9  195.718500       1        2       1
1750      9  195.718500       2        2       1
1751      9  195.718500       3        2       1
1752      9  195.718500       4        2       0
1753      9  195.718500       5        2       0
1754      9  195.718500       6        2       1
1755      2  201.951904       1        2       1
1756      2  201.951904       2        2       1
1757      2  201.951904       3        2       0
1758      2  201.951904       4        2       0
1759      2  201.951904       5        2       1
1760      4  216.643333       1        2       0
1761      4  216.643333       2        2       0
1762      4  216.643333       3        2       0
1763      4  216.643333       4        2       0
1764      3  207.505263       1        2       0
1765      3  207.505263       2        2       0
1766      3  207.505263       3        2       0
1767      7  165.747727       1        2       1
1768      7  165.747727       2        2       1
1769      0  177.003335       1        2       1

[1770 rows x 5 columns]

In [5]:
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
  
X = df.values[:, 0:4] 
Y = df.values[:, 4]

In [6]:
X

array([[  6.      , 954.82    ,   1.      ,   3.      ],
       [  6.      , 954.82    ,   2.      ,   3.      ],
       [  6.      , 954.82    ,   3.      ,   3.      ],
       ...,
       [  7.      , 165.747727,   1.      ,   2.      ],
       [  7.      , 165.747727,   2.      ,   2.      ],
       [  0.      , 177.003335,   1.      ,   2.      ]])

In [7]:
X_train, X_test, y_train, y_test = train_test_split( 
           X, Y, test_size = 0.3, random_state = 100) 
  
dt_clf_gini = DecisionTreeClassifier(criterion = "gini", 
                                     random_state = 100, 
                                     max_depth = 5, 
                                     min_samples_leaf = 5) 
  
dt_clf_gini.fit(X_train, y_train) 
y_pred_gini = dt_clf_gini.predict(X_test) 
  
print ("Desicion Tree using Gini Index Accuracy is ",
             accuracy_score(y_test, y_pred_gini)*100 )

Desicion Tree using Gini Index Accuracy is  76.64783427495291